<%= form_for(@repository) do |f| %>
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>:<br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :master_location %>:<br />
    <span class="mono">svn://</span>&nbsp;<%= f.text_field :master_location %>
  </div>
  <div class="field">
<%= f.label :slave_location %>:<br />
    <%= f.text_field :slave_location %> <abbr title="<%= _('This is the subfolder, inside /var/svn/, where the server files will live') %>">?</abbr>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	jQuery('input[type=submit]').click(function(){
		jQuery('#loading').show();
	});

</script>