<h1><%= _('Listing Upload Services') %></h1>

<table class="index-table">
  <thead>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Location') %></th>
    <th><%= _('Meta')%> </th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<% @upload_services.each do |upload_service| %>
  <tr>
    <td><%= upload_service.name %></td>
    <td><%= upload_service.location %></td>
    <td><% if upload_service.meta && upload_service.meta.size > 0 %>
      <ul>
        <% upload_service.meta.each do |key, value| %>
        <li><%= key.titleize.to_s+":"+" "+value.to_s %></li>
      <%end%>
        </ul>
      <%end%>
    </td>
    <td style="text-align: center">
   <%=  link_to (image_tag "show.png",:title=>_("Show"),:alt=>_("Show")), upload_service %>
     <%= link_to (image_tag "edit.png",:title=>_('Edit'),:alt=>_('Edit')), edit_upload_service_path(upload_service) %>
<%= link_to image_tag("destroy.png", :title => _("Delete"), :alt => _("Delete")), upload_service, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
<%= link_to _('Back'), backup_configurations_path, :class => 'back mini-icon' %>
<%= link_to _('New Upload service'), new_upload_service_path, :class => 'new mini-icon' %>
