<h2><%= _('Remote server data') %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b><%= _('Description') %>:</b>
  <%= @remote_server.description %>
</p>

<h4><%= _('Location') %></h4>

<p>
  <b><%= _('Host') %>:</b>
  <%= @remote_server.host %>
</p>

<p>
  <b><%= _('Path') %>:</b>
  <%= @remote_server.path %>
</p>

<h4><%= _('Credentials') %></h4>

<p>
  <b><%= _('User') %>:</b>
  <%= @remote_server.user %>
</p>

<p>
  <b><%= _('Password') %>:</b>
  <%= @remote_server.password.gsub(/./, "•") %>
</p>
<br/>
<%= link_to _('Edit'), edit_remote_server_path(@remote_server), :class => 'edit mini-icon' %> |
<%= link_to _('Back'), remote_servers_path, :class => 'back mini-icon' %>
